/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* ----------------------End of CSS reset ------------------------------- */ 



body {
	background-color: #F0F0F0;
	top: 0px;
	left: 0px; 
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.wrapper {
	position: absolute;
	left: 0;
	right: 0;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}



h1 {
	
	color: #F9F9F9;
	font-size: 4.5em;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;

	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
	position: relative;
	color: #BBB7B0;
	font-size: .80em;
	text-align: center;
	padding-top: 5px;
}

.icons {
	text-align: center;
	margin: 10px;
}

.github, .linkedin,  {
	padding: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;

}

.email {
	margin-left: -10px;
}

.github:hover, .linkedin:hover, .email:hover {
	opacity: 0.6;
}


a {
	text-decoration: none;
}

.outset {

	-webkit-box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.15);
		    box-shadow: 0px 0px 37px -2px rgba(0,0,0,0.15);

}

.intro {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	
}

.pic {
	position: relative;
	left: 6%;
}

.me {
	max-height: 28%;
	max-width: 28%;
	padding: 10px;
}

.bio {
	position: absolute;
	top: 20px;
	left: 40%;
	right: 8%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #BBB7B0;
	text-align: left;
	font-size: 1.13em;
	line-height: 1.2em;
}

.resume {
	position: relative;
	text-align: center;
	padding-bottom: 20px;
	visibility: hidden;

}	

.button {
	font-size: 2.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #BBB7B0;
	background-color: #F0F0F0;
	border: solid 2px #BBB7B0; 
	padding-left: 10px;
	padding-right: 10px;
}

.button:hover {
	color: #ADA9A2;
	border-color: #ADA9A2;
}

.button:active {
	color: #9B9892;
	border-color: #9B9892;

}

button:focus {
	outline: 0;
}



@media screen and (max-width: 700px) {

	

	.wrapper {
		width: 70%;
	}

	.intro {
		display: inline-block;
	}

	.bio {
		position: relative;
		width: auto;
		left: 0;
		margin: -5px 15px 45px 15px;
	}

	.pic {
		
		margin-left: auto;
		margin-right: auto;
		left: initial; 
	}

	.me {
		display: block;
		min-width: 90%;
		height: auto;
	}

	@media screen and (max-width: 500px) {
		h1 {
		font-size: 3.25em;
		}
	}
	


}